In [18]:
import csv
import pandas as pd
from datetime import date,datetime
import io
import os
import matplotlib.pyplot as plt
import seaborn as sns
import import_ipynb

from prophet import Prophet
from prophet.serialize import model_to_json, model_from_json
from prophet.diagnostics import cross_validation

plt.style.use("fivethirtyeight")

In [6]:
%%capture
from prepare_data_and_run_Forecasts import metric_param_filtered_df

In [8]:
metric_param_filtered_df.head()

              dau
date
2021-09-01  63038
2021-09-02  63416
2021-09-03  62744
2021-09-04  62915
2021-09-05  64862

In [21]:
print(metric_param_filtered_df.index[0],metric_param_filtered_df.index[-1])
print(len(metric_param_filtered_df))

2021-09-01 2022-01-28
150

In [16]:
# metric="dau"
measure="dau"
series=metric_param_filtered_df.reset_index()[['date',measure]].rename(columns={'date':'ds',measure:'y'})

In [19]:
m1=Prophet()
m1.fit(series)
# df_cv = cross_validation(m1, horizon = f"{len(test)} days")

df_cv = cross_validation(m1, horizon = "10 days")
df_cv.head()

  0%|          | 0/22 [00:00<?, ?it/s]

          ds          yhat    yhat_lower    yhat_upper      y     cutoff
0 2021-10-06  73678.971974  72779.816080  74559.796322  73544 2021-10-05
1 2021-10-07  73914.193346  72995.365044  74831.423760  75383 2021-10-05
2 2021-10-08  74192.459730  73299.703373  75143.819367  78795 2021-10-05
3 2021-10-09  74511.906185  73571.679915  75502.882035  78997 2021-10-05
4 2021-10-10  76066.311359  75025.170385  77063.422253  80132 2021-10-05

In [20]:
len(df_cv)

220