In [43]:
from google.cloud import bigquery
import os

In [44]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:/cloud/gcs_service_account.json'
bqclient = bigquery.Client()

In [ ]:
'''
def initialize_model_db():    
    model_db_columns=["model_id","model_train_starttime","model_train_endtime","model_test_starttime","model_test_endtime",
            "training_type","model_training_day","model_train_MAE","model_test_MAE"]
    return pd.DataFrame([],columns=model_db_columns)
    
    
def initialize_forecast_db():
    forecast_columns=["ds","yhat","yhat_lower","yhat_upper","model_id"]
    return pd.DataFrame([],columns=forecast_columns)
    


'''

In [25]:
project_id="project1-327507"

dataset="forecasts"


Parameters= {"vxp_client_id": 1 , 
             "metric":"DAU",
            "game":'All',
            "platform" : 'All'}

destination_table=f"predictions_{Parameters['metric']}"
print(destination_table)

predictions_DAU

In [26]:
''' model_output_data={'model_id':[self.model_id] ,
                           'model_train_starttime':[self.modeltrain_startime],
                           'model_train_endtime':[self.modeltrain_endtime],
                          'model_test_starttime':[self.modeltest_starttime],
                           'model_test_endtime':[self.modeltest_endtime],
                          'training_type':['fit'],
                          'model_training_day':[datetime.now().strftime('%d-%m-%Y')],
                           'model_train_MAE':self.train_MAE,
                           'model_test_MAE':self.test_MAE ,
                           'path':$$GCS_path,
                           
                           
                           
                           'vxp_client_id':vxp_client_id,
                           'metric':'DAU'
                           
                           
                           
                           
                          }'''


def check_model_db(Parameters):
    try :
        query_string=f"""
        SELECT
        *
        FROM `{project_id}.{dataset}.{destination_table}` 
        where 
        vxp_client_id={Parameters['vxp_client_id']} 
        order by model_training_day desc limit 1 """
        print(query_string)
        model_df = (
        bqclient.query(query_string)
        .result()
        .to_dataframe(
            # Optionally, explicitly request to use the BigQuery Storage API. As of
            # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
            # API is used by default.
            create_bqstorage_client=True,
                    )
                )
        
        return model_df
    except :
        return None

def write_model_db(model_output_data,parameters,):
    model_output_data.update(parameters)

    
    pandas_gbq.to_gbq(dataframe=pd.DataFrame(model_output_data),
                  destination_table=destination_table ,
                  project_id=project_id,
                  if_exists='append')

In [27]:
check_model_db(Parameters)

        SELECT
        *
        FROM `project1-327507.forecasts.predictions_DAU`
        where
        vxp_client_id=1
        order by model_training_day desc limit 1

In [ ]:
def check_forecast_db():

In [40]:
def return_none():
    try :
        r=bqclient()
        return r,5,10
    except:
        return None,None,None

In [41]:
return_none()

(None, None, None)

# WorkSpace

In [1]:
Parameters= {"vxp_client_id": 1 , 
             "metric":"DAU",
            "game":'All',
            "platform" : 'All'}

In [6]:
project_id="project1-327507"
dataset="forecasts"
model_table=f"{dataset}.model{Parameters['metric']}"
forecast_table=f"{dataset}.forecasts_{Parameters['metric']}"

In [36]:
main_query=f"""
        SELECT
        *
        FROM `{project_id}.{model_table}` 
        """

In [38]:
print(main_query)

        SELECT
        *
        FROM `project1-327507.forecasts.modelDAU`

In [9]:
Parameters.items()

dict_items([('vxp_client_id', 1), ('metric', 'DAU'), ('game', 'All'), ('platform', 'All')])

In [31]:
def add_where_conditions(main_query,Parameters):
    where_statements=""""""
    first_where=True
    for key,value in Parameters.items():
        print(key,value)
        if first_where:
            print("hi")
            where_statements=where_statements + f"""where {key}={value} """
        else :
            where_statements=where_statements + f""" and {key}={value}"""
        first_where=False
    return main_query + where_statements

In [33]:
final_query=add_where_conditions(main_query,Parameters)

vxp_client_id 1
hi
metric DAU
game All
platform All

In [39]:
print(final_query)

        SELECT
        *
        FROM `project1-327507.forecasts.modelDAU`
        where vxp_client_id=1  and metric=DAU and game=All and platform=All

In [35]:
main_query

'\n        SELECT\n        *\n        FROM `project1-327507.forecasts.modelDAU` \n        '

In [18]:
where_statements=''.join("where vxp_client_id=5")

In [20]:
where_statements.join("and ham")

'awhere vxp_client_id=5nwhere vxp_client_id=5dwhere vxp_client_id=5 where vxp_client_id=5hwhere vxp_client_id=5awhere vxp_client_id=5m'

In [19]:
Parameters

{'vxp_client_id': 1, 'metric': 'DAU', 'game': 'All', 'platform': 'All'}

In [20]:
dictionary={"A":'a',"B":'b'}

In [22]:
dictionary.update(Parameters)
print(dictionary)

{'A': 'a', 'B': 'b', 'vxp_client_id': 1, 'metric': 'DAU', 'game': 'All', 'platform': 'All'}

In [15]:
query_string=f"""
    SELECT
    *
    FROM `{project_id}.{dataset}.predictions_{Parameters['metric']}` 
    where 
    vxp_client_id={Parameters['vxp_client_id']}"""

print(query_string)

    SELECT
    *
    FROM `project1-327507.forecasts.predictions_DAU`
    where
    vxp_client_id=1

In [10]:
query_string = f"""
SELECT
date
FROM `project1-327507.Game1.{Parameters['metric']}` """

In [11]:
print(query_string)

SELECT
date
FROM `project1-327507.Game1.DAU`

In [45]:
query_string = """
SELECT
date
FROM `project1-327507.Game1.Table3`


"""


df_1 = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        # Optionally, explicitly request to use the BigQuery Storage API. As of
        # google-cloud-bigquery version 1.26.0 and above, the BigQuery Storage
        # API is used by default.
        create_bqstorage_client=True,
    )
)
df_1.head()

       date
0      date
1  1/1/2015
2  1/2/2015
3  1/3/2015
4  1/4/2015

In [47]:
Parameters= {"vxp_client_id": 1 , 
             "metric":"DAU",
            "game":'All',
            "platform" : 'All'}

In [48]:
def add_params_to_pandas(df,Parameters):
    for key,value in Parameters.items():
        df[key] =value
    return df

In [49]:
add_params_to_pandas(df_1,Parameters)

         date  vxp_client_id metric game platform
0        date              1    DAU  All      All
1    1/1/2015              1    DAU  All      All
2    1/2/2015              1    DAU  All      All
3    1/3/2015              1    DAU  All      All
4    1/4/2015              1    DAU  All      All
5    1/5/2015              1    DAU  All      All
6    1/6/2015              1    DAU  All      All
7    1/7/2015              1    DAU  All      All
8    1/8/2015              1    DAU  All      All
9    1/9/2015              1    DAU  All      All
10  1/10/2015              1    DAU  All      All
11  1/11/2015              1    DAU  All      All
12  1/12/2015              1    DAU  All      All
13  1/13/2015              1    DAU  All      All
14  1/14/2015              1    DAU  All      All
15  1/15/2015              1    DAU  All      All
16  1/16/2015              1    DAU  All      All
17  1/17/2015              1    DAU  All      All
18  1/18/2015              1    DAU  All      All
19  1/19/2015              1    DAU  All      All
20  1/20/2015              1    DAU  All      All
21  1/21/2015              1    DAU  All      All

In [46]:
df_1.insert("vxp_client_id",1)

TypeError: insert() missing 1 required positional argument: 'value'

#### Write df to bigquery

In [ ]:
!pip install pandas-gbq==0.14.0

In [1]:
from datalab.context import Context
import datalab.storage as storage
import datalab.bigquery as bq
import pandas as pd
from pandas import DataFrame
import time

In [2]:
import pandas_gbq

In [30]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\anaconda3\envs\prophet\lib\site-packages (4.0.1)

WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\envs\prophet\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\anaconda3\envs\prophet\lib\site-packages)

Requirement already satisfied: numpy>=1.16.6 in c:\anaconda3\envs\prophet\lib\site-packages (from pyarrow) (1.20.3)

In [3]:
my_data = [{1,2,3}]
for i in range(0,100000):
    my_data.append({1,2,3})
not_so_simple_dataframe = pd.DataFrame(data=my_data,columns=['a','b','c'])

In [28]:
pandas_gbq.to_gbq(dataframe=not_so_simple_dataframe,
                  destination_table="forecasts.samplewrite2" ,
                  project_id=project_id,
                  if_exists='append')

1it [00:09,  9.98s/it]

In [23]:
#Alternative 3
start = time.time()
sample_bucket_name = 'mybucket-amr'
sample_bucket_path = 'gs://' + sample_bucket_name
sample_bucket_object = sample_bucket_path + '/Hello.txt'
bigquery_dataset_name = 'forecasts'
bigquery_table_name = 'TestTable'

# Define storage bucket
sample_bucket = storage.Bucket(sample_bucket_name)

# Create or overwrite the existing table if it exists
table_schema = bq.Schema.from_dataframe(not_so_simple_dataframe)

# Write the DataFrame to GCS (Google Cloud Storage)
!storage write --variable not_so_simple_dataframe --object $sample_bucket_object

# Write the DataFrame to a BigQuery table
table.insert_data(not_so_simple_dataframe)
end = time.time()
print("time alternative 3 " + str(end - start))

'storage' is not recognized as an internal or external command,
operable program or batch file.

NameError: name 'table' is not defined